<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>Detail Document</title>
</head>
<body>
<div layout:fragment="content">

    <h1><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Detail Account</h1>

    <a class="btn btn-secondary" th:href="@{/web/list}">
        Back <i class="fa fa-arrow-circle-o-left"></i>
    </a>

    <div th:if="${param.success}">
        <div class="alert alert-info">Update Berhasil!</div>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr><td>
            <table class="table table-striped table-hover" th:object="${data}">
                <tbody>
                <tr>
                    <td class="col-sm-3">id</td>
                    <td th:text="*{id}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Company Id</td>
                    <td th:text="*{cid}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Nama Company</td>
                    <td th:text="*{namaCompany}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Rek Polling</td>
                    <td th:text="*{rekPolling}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Rek Afiliasi</td>
                    <td th:text="*{rekAviliasi}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Folder File</td>
                    <td th:text="*{folderFile}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Tanggal Input</td>
                    <td th:text="*{tglInput}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Tanggal Edit</td>
                    <td th:text="*{tglEdit}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">User Input</td>
                    <td th:text="*{userInput}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">User Edit</td>
                    <td th:text="*{userEdit}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Status</td>
                    <td th:text="*{status}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Delimiter</td>
                    <td th:text="*{delimiter}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-2"></td>
                    <td class="col-sm-10">
                        <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a th:href="@{/web/formForUpdate/{id}(id=*{id})}" class="btn btn-secondary btn-sm">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    Edit
                                </a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Hapus
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                    <b><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></b>
                                                    <b>Peringatan</b>
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="protocol" class="col-sm-10 control-label">Anda Yakin Akan Menghapus data ?</label>
                                                <br/>
                                                <label for="protocol" class="col-sm-3 control-label"><b>Company Id : </b></label>
                                                <label for="protocol" class="col-sm-4 control-label"><b th:text="*{cid}">Corporate</b></label>
                                                <br/>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="form-horizontal" th:action="@{/web/deleteList/{id}(id=*{id})}">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </button>
                                                    <input type="hidden" name="id" th:field="${data}"/>
                                                    <button type="submit" class="btn btn-danger">Ok
                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </td></tr>
        </tbody>
    </table>


    <hr />

</div>
</body>
</html>
