<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>List Mapping Polling Account</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="mb-3">List Account</h1>
    <hr />

    <div th:if="${param.success}">
        <div class="alert alert-info">Update Berhasil!</div>
    </div>
    <div th:if="${param.deleted}">
        <div class="alert alert-danger">Data Berhasil Dihapus!</div>
    </div>

    <form th:action="@{/web/list}">
        Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>
    <br/><br/>

    <table class="table table-striped table-bordered table-hover text-center">
        <thead class="text-center">
        <tr>
            <th>
                <a th:href="@{'/web/list/' + ${currentPage} + '?sortField=cid&sortDir=' + ${reverseSortDir}}">CID</a>
                </th>
            <th>Nama Company</th>
            <th>Rek Polling</th>
            <th>Rek Afiliasi</th>
            <th>Status</th>
            <th>Delimiter</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${data}">
            <td class="text-left" th:text="${p.cid}">cid</td>
            <td>
                <a th:text="${p.namaCompany}" th:href="@{/web/account/detail/{id}(id=${p.id})}">companyid</a>
            </td>
            <td th:text="${p.rekPolling}"></td>
            <td th:text="${p.rekAviliasi}"></td>
            <td th:text="${p.status}"></td>
            <td th:text="${p.delimiter}"></td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    </div>

</div>

</body>
</html>
