<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Mapping Polling Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>

<div class="container" layout:fragment="content">
    <h3>Update Mapping Polling Account</h3>
    </hr>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">

                <form action="#" th:action="@{/web/update}" th:object="${data}" method="POST">
                    <div class="row">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{tglInput}" />
                        <input type="hidden" th:field="*{userInput}" />
                        <div class="form-group col-md-8">
                            <label for="cid" class="col-form-label">CID</label> <input type="text" th:field="*{cid}" class="form-control" id="cid"> <span th:if="${#fields.hasErrors('cid')}" th:errors="*{cid}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="namaCompany" class="col-form-label">Nama Company</label> <input type="text" th:field="*{namaCompany}" class="form-control" id="namaCompany"> <span th:if="${#fields.hasErrors('namaCompany')}" th:errors="*{namaCompany}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="rekPolling" class="col-form-label">Rek Polling</label> <input type="text" th:field="*{rekPolling}" class="form-control" id="rekPolling"> <span th:if="${#fields.hasErrors('rekPolling')}" th:errors="*{rekPolling}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="rekAviliasi" class="col-form-label">Rek Afiliasi</label> <input type="text" th:field="*{rekAviliasi}" class="form-control" id="rekAviliasi"> <span th:if="${#fields.hasErrors('rekAviliasi')}" th:errors="*{rekAviliasi}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="folderFile" class="col-form-label">Folder File</label> <input type="text" th:field="*{folderFile}" class="form-control" id="folderFile"> <span th:if="${#fields.hasErrors('folderFile')}" th:errors="*{folderFile}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="status" class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">
                                <select  class="form-control" id="status" name="status"
                                         th:field="*{status}">
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="NON ACTIVE">NON ACTIVE</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="delimiter" class="col-form-label">Delimiter</label> <input type="text" th:field="*{delimiter}" class="form-control" id="delimiter" placeholder="Delimiter"> <span th:if="${#fields.hasErrors('delimiter')}" th:errors="*{delimiter}" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Update">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>

                <a th:href="@{/web/list}"> Back to Account List</a>

            </div>
        </div>
    </div>
</div>
</body>

</html>