<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}"><head>
    <meta charset="UTF-8">
    <title>History File</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-3">History File</h1>

        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="text-center">
            <tr>
                <th>Tanggal</th>
                <th>Nama File</th>
                <th>Load Start</th>
                <th>Load End</th>
                <th>User Uploader</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${data}">
                <td class="text-left" th:text="${p.tanggalFile}">Tanggal</td>
                <td th:text="${p.namaFile}">Tanggal</td>
                <td th:text="${p.loadStart}"></td>
                <td th:text="${p.loadEnd}"></td>
                <td th:text="${p.userUploader}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>