<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>List Bunga VA</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="mb-3">List Bunga VA</h1>
    <hr />

    <div th:if="${param.success}">
        <div class="alert alert-info">Balance Bunga berhasil diinput!</div>
    </div>

    <div class="row">
        <form class="form-inline" th:action="@{/web/bungava/list}">

            <div class="form-group col-md-12 justify-content">
<!--                <label for="tanggal" class="control-label"><b>Filter: </b></label>-->
                <label for="tanggal" class="control-label"><b>Tanggal: </b></label>
                <select class="form-control" id="tanggal" th:name="tanggal" >
                    <option th:each="b : ${bulan}" th:value="${b.tanggalFile}"
                            th:text="${b.tanggalFile}" >tanggal</option>
                </select>
                <label for="cid" class="control-label"><b>CID: </b></label>
                <select class="form-control" id="cid" th:name="cid" >
                    <option th:each="p : ${cid}" th:value="${p.cidVA}"
                            th:text="${p.cidVA}" >cid</option>
                </select>
<!--                <label for="nomorVA" class="sr-only"></label>-->
<!--                <input type="text" class="form-control" size="30" id="nomorVA" name="nomorVA" placeholder="Nomor VA" th:value="${keyword}">-->

                <input type="submit" value="Search" />&nbsp;
                <input type="button" value="Clear" id="btnClear" onclick="clearSearchBunga()"/>
            </div>
        </form>
    </div>
    <br/>
    <div class="mt-2">
<!--        <button ><a th:href="@{/web/bunga/export-pdf/${tanggal}/${cid}}">Save as PDF</a></button>-->
        <button onclick="">Save as Excel</button>
    </div>
    <br/>

    <div class="col-lg-6" th:if="${!data.isEmpty()}">
        <table class="table table-striped table-bordered table-hover text-center">
            <tr>
                <th>Balance CID per bulan</th>
                <td th:text="${balanceCID}">9</td>
                <td> </td>
            </tr>
<!--            <tr>-->
<!--                <th>Bunga VA</th>-->
<!--                <td th:text="${totalBunga}">9</td>-->
<!--                <td>-->
<!--                    <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                        <div class="col-sm-offset-2 col-sm-10">-->
<!--                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editModal">-->
<!--                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
<!--                                Edit-->
<!--                            </button>-->
<!--                            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">-->
<!--                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
<!--                                Hapus-->
<!--                            </button>-->

<!--                            &lt;!&ndash; Modal &ndash;&gt;-->
<!--                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                                <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                                    <div class="modal-content">-->
<!--                                        <div class="modal-header">-->
<!--                                            <h5 class="modal-title" id="exampleModalLongTitle">-->
<!--                                                <b><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></b>-->
<!--                                                <b>Peringatan</b>-->
<!--                                            </h5>-->
<!--                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                <span aria-hidden="true">&times;</span>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <div class="modal-body">-->
<!--                                            <label for="protocol" class="col-sm-10 control-label">Anda Yakin Akan Menghapus data ?</label>-->
<!--                                            <br/>-->
<!--                                            <label for="protocol" class="col-sm-3 control-label"><b>Company Id : </b></label>-->
<!--                                            <label for="protocol" class="col-sm-4 control-label"><b th:text="*{cid}">Corporate</b></label>-->
<!--                                            <br/>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            <form class="form-horizontal" th:action="@{/web/bunga/delete/{id}(id=*{id})}">-->
<!--                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No-->
<!--                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
<!--                                                </button>-->
<!--                                                <input type="hidden" name="id" th:field="${data}"/>-->
<!--                                                <button type="submit" class="btn btn-danger">Ok-->
<!--                                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->
<!--                                                </button>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
        </table>

    </div>

    <div th:if="${!data.isEmpty()}">
        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="text-center">
            <tr>
                <th>Bulan</th>
                <th>CID</th>
                <th>Nomor VA</th>
                <th>Total Balance VA</br>perbulan</th>
                <th>Rata2 Balance VA</br>perbulan</th>
                <th>Persen Bunga</th>
                <th>Bunga</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${data}">
                <td class="text-left" th:text="${p.bulan}">Tanggal</td>
                <td th:text="${p.cidVA}"></td>
                <td th:text="${p.nomorVA}"></td>
                <td>
                    <span th:if="${p.totalBalanceVA == 0}" >0</span>
                    <span th:unless="${p.totalBalanceVA == 0}" th:text="'Rp. '+ ${#numbers.formatDecimal(p.totalBalanceVA, 0, 'POINT', 2, 'COMMA')}"></span>
                </td>
                <td>
                    <span th:if="${p.avgBalanceVA == 0}">0</span>
                    <span th:unless="${p.avgBalanceVA == 0}" th:text="'Rp. '+ ${#numbers.formatDecimal(p.avgBalanceVA, 0, 'POINT', 2, 'COMMA')}"></span>
                </td>
                <td>
                    <span th:if="${p.persentaseBunga == 0}" th:text="${p.persentaseBunga}"></span>
                    <span th:unless="${p.persentaseBunga == 0}" th:text="${#numbers.formatDecimal(p.persentaseBunga, 0, 'COMMA', 10, 'POINT')}"></span>
                </td>
                <td>
                    <span th:if="${p.besarBungaVA == 0}" th:text="${p.besarBungaVA}"></span>
                    <span th:unless="${p.besarBungaVA == 0}" th:text="'Rp. '+ ${#numbers.formatDecimal(p.besarBungaVA, 0, 'POINT', 4, 'COMMA')}"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>




</div>

</body>
</html>
