<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>List VA</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="mb-3">List VA</h1>
    <hr />

        <div class="row">
            <form class="form-inline" th:action="@{/web/list-va}">

                <div class="form-group col-md-12 justify-content">
                        <label for="tanggal" class="control-label"><b>Filter: </b></label>
                        <select class="form-control" id="tanggal" name="tanggal" >
                            <option value="" ></option>
                            <option th:each="p : ${tgl}" th:value="${p.tanggalFile}"
                                    th:text="${p.tanggalFile}" th:selected="${tanggal==p.tanggalFile}" >tanggal</option>
                        </select>
                    <label for="keyword" class="sr-only"></label>
                    <input type="text" class="form-control" size="30" id="keyword" name="keyword" placeholder="Nomor VA / CID VA" th:value="${keyword}">
                    <input type="submit" value="Search" />&nbsp;
                    <input type="button" value="Clear" id="btnClear" onclick="clearSearchVA()"/>
                </div>
            </form>
        </div>
    <br/><br/>

    <div th:if="${!data.isEmpty()}">
        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="text-center">
            <tr>
                <th>Tanggal</th>
                <th>Nomor VA</th>
                <th>CID VA</th>
                <th>Balance</th>
                <th>Nama VA</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${data}">
                <td class="text-left" th:text="${p.tanggal}">Tanggal</td>
                <td>
                    <a th:text="${p.nomorVA}" >Nomor VA</a>
                </td>
                <td th:text="${p.cidVA}"></td>
                <td th:text="${p.balanceVA}"></td>
                <td th:text="${p.namaVA}"></td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>


</div>

</body>
</html>
