<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>Load Data VA</title>
    <style>
        #loading {
            background: url('spinner.gif') no-repeat center center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 9999999;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <h1 class="mb-3">Insert Balance Bunga</h1>
    <hr />

    <div class="row mb-4">
        <form class="form-inline" th:action="@{/web/bungava/update-balance}">
            <div class="form-group col-md-12 justify-content">
                <label for="bulan" class="control-label"><b>Tanggal: </b></label>
                <select class="form-control" id="bulan" name="bulan" >
                    <option th:each="p : ${bulan}" th:value="${p.tanggalFile}"
                            th:text="${p.tanggalFile}" >tanggal</option>
                </select>
                <label for="cid" class="control-label"><b>CompanyID: </b></label>
                <select class="form-control" id="cid" name="cid" >
                    <option th:each="p : ${cid}" th:value="${p.cidVA}"
                            th:text="${p.cidVA}" >tanggal</option>
                </select>
                <label for="balance" class="sr-only"></label>
                <input type="text" class="form-control" size="30" id="balance"
                       name="balance" placeholder="Balance Bunga" th:value="${balance}" required>

                <input type="submit" value="Submit" />&nbsp;
            </div>
        </form>
    </div>
</div>
</body>
</html>
