<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>Detail User</title>
</head>
<body>
<div layout:fragment="content">

    <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Detail User</h1>

    <div th:if="${param.success}">
        <div class="alert alert-info">Role Berhasil ditambahkan!</div>
    </div>
    <div th:if="${param.deleted}">
        <div class="alert alert-danger">Data Berhasil Dihapus!</div>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr><td>
            <table class="table table-striped table-hover" th:each="p : ${data}">
                <tbody>
                <tr>
                    <td class="col-sm-3">Email</td>
                    <td th:text="${p.email}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Nama User</td>
                    <td th:text="${p.firstName + ' ' + p.lastName }" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Tanggal Created</td>
                    <td th:text="${p.tglcreated}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Role</td>
                    <td th:text="${role}" class="col-sm-10" ></td>
                </tr>
                </tbody>
            </table>
        </td></tr>
        </tbody>
    </table>

    <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="card w-50" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="card-body">
                <form action="#" th:action="@{/user/add-role}" th:object="${data}" method="POST">
                    <div class="form-row align-items-center" th:if="${#arrays.length(role)} < 2">
                        <input type="hidden" th:field="*{email}" />
                        <div class="col-sm-1">
                            <label for="role" class="control-label"><b>Role</b></label>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control mr-sm-2" id="role" name="role" th:value="${role}">
                                <option th:if="${#arrays.contains(role, 'ROLE_ADMIN')}" value="ROLE_USER">ROLE_USER</option>
                                <option th:if="${#arrays.contains(role, 'ROLE_USER')}" value="ROLE_ADMIN">ROLE_ADMIN</option>
                                <option th:if="${#arrays.isEmpty(role)}" value="ROLE_USER">ROLE_USER</option>
                                <option th:if="${#arrays.isEmpty(role)}" value="ROLE_ADMIN">ROLE_ADMIN</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Button trigger modal -->
        <div class="form-row align-items-center">
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Delete Role</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <b><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></b>
                            <b>Peringatan</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="protocol" class="col-sm-10 control-label">Anda Yakin Akan Menghapus data ?</label>
                        </br>
                    </div>
                    <div class="modal-footer">
                        <form class="form-horizontal" th:action="@{/user/delete-role/{email}(email=*{email})}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <div class="col-sm-1">
                                <label for="role" class="control-label"><b>Role</b></label>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control mr-sm-2" id="role" name="role" th:value="${role}">
                                    <option th:if="${#arrays.contains(role, 'ROLE_USER')}" value="ROLE_USER">ROLE_USER</option>
                                    <option th:if="${#arrays.contains(role, 'ROLE_ADMIN')}" value="ROLE_ADMIN">ROLE_ADMIN</option>
                                </select>
                            </div>
                            <input type="hidden" name="email" th:field="${role}"/>
                            <button type="submit" class="btn btn-danger">Ok
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </hr>

</div>
</body>
</html>
