<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>List User</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="mb-3">
        <i class="icon_id_alt"></i> List User
    </h1>
    <hr />

    <div th:if="${param.success}">
        <div class="alert alert-info">Update Berhasil!</div>
    </div>
    <div th:if="${param.deleted}">
        <div class="alert alert-danger">Data Berhasil Dihapus!</div>
    </div>

    <table class="table table-striped table-bordered table-hover text-center">
        <thead class="text-center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <!--            <th><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${data}">
            <td class="text-left" th:text="${p.firstName + ' ' + p.lastName}">name</td>
            <td class="text-left">
                <a th:text="${p.email}" th:href="@{/user/detail/{email}(email=${p.email})}">email</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
