<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}">
<head>
    <title>Detail User</title>
</head>
<body>
<div layout:fragment="content">

    <h1><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Detail User</h1>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr><td>
            <table class="table table-striped table-hover" th:each="p : ${data}">
                <tbody>
                <tr>
                    <td class="col-sm-3">Email</td>
                    <td th:text="${p.email}" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Nama User</td>
                    <td th:text="${p.firstName + ' ' + p.lastName }" class="col-sm-10"></td>
                </tr>
                <tr>
                    <td class="col-sm-3">Tanggal Created</td>
                    <td th:text="${p.tglcreated}" class="col-sm-10"></td>
                </tr>
                <tr th:each="r : ${p.roles}" sec:authorize="hasAnyAuthority('ROLE_USER')">
                    <td class="col-sm-3">Role</td>
                    <td th:text="${r.name}" class="col-sm-10" ></td>
                </tr>
                <tr sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <td class="col-sm-3">Role</td>
                    <td class="col-sm-3" >
                        <form class="form-inline form-roles" th:action="@{/user/update-role}" th:object="@{data}" method="POST">
                            <div class="form-group mx-sm-3 mb-2">
                                <select  class="form-control" id="role" name="role" th:field="*{roles}">
                                    <option value="ROLE_USER">ROLE_USER</option>
                                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Confirm</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </td></tr>
        </tbody>
    </table>


    <hr />

</div>
</body>
</html>
