<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <!-- bootstrap theme -->
    <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{/css/elegant-icons-style.css}" rel="stylesheet" />
    <link th:href="@{/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <!-- Custom styles -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet" />
</head>
<body>
    <div class="page-404">
        <p class="text-404">404</p>

        <h2>Aww Snap!</h2>
        <p>Something went wrong or that page doesn’t exist yet. <br><a th:href="@{/}">Return Home</a></p>
    </div>
</body>
</html>