<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title>Aplikasi Perhitungan Bunga</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
<!--    <link th:href="@{/css/aplikasi.css}" rel="stylesheet" />-->
    <link th:href="@{/css/elegant-icons-style.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-datepicker-1.6.4-eternicode-min.css}" rel="stylesheet" />
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery-ui-1.10.4.min.css}" rel="stylesheet">

</head>

<body>

<section id="container" class="">
    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a th:href="@{/}" class="logo"><img th:src="@{/img/Logobniwhite.png}" height="20" width="75"/></a>
        <!--logo end-->

        <div class="top-nav notification-row">
            <!-- user login dropdown start-->
            <ul class="nav pull-right top-menu">

            <li class="dropdown" sec:authorize="isAuthenticated()">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg" th:src="@{/img/avatar-mini2.jpg}">
                            </span>
                    <span class="username" sec:authentication="name"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="active">
                    <a class="" href="index.html">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="javascript:;" class="">
                        <i class="icon_id_alt"></i>
                        <span>Users</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" th:href="@{/user/list}">User Lists</a></li>
                    </ul>
                </li>

<!--                <li>-->
<!--                    <a class="" href="chart-chartjs.html">-->
<!--                        <i class="icon_piechart"></i>-->
<!--                        <span>Charts</span>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_table"></i>
                        <span>Company</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/web/list}">List Company</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/web/form}">Add Company</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_table"></i>
                        <span>Data VA</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/web/list-va}">List Data VA</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/web/load-data-va}">Load Data VA</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/web/bungava/list}">List Bunga VA</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/web/bungava/form-update-balance}">Insert Bunga</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/web/bungava/load-bungava}">Proses Bunga</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/web/load-file-history}">File History</a></li>
                    </ul>
                </li>

<!--                <li class="sub-menu">-->
<!--                    <a href="javascript:;" class="">-->
<!--                        <i class="icon_documents_alt"></i>-->
<!--                        <span>Pages</span>-->
<!--                        <span class="menu-arrow arrow_carrot-right"></span>-->
<!--                    </a>-->
<!--                    <ul class="sub">-->
<!--                        <li><a class="" href="profile.html">Profile</a></li>-->
<!--                        <li><a class="" href="login.html"><span>Login Page</span></a></li>-->
<!--                        <li><a class="" href="contact.html"><span>Contact Page</span></a></li>-->
<!--                        <li><a class="" href="blank.html">Blank Page</a></li>-->
<!--                        <li><a class="" href="404.html">404 Error</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <div class="container">
        <section id="main-content">
            <section class="wrapper">
                <div layout:fragment="content"></div>

            </section>
        </section>
        <!-- start content -->
        <!-- end content -->
    </div> <!-- /container -->
</section>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/web/list/}]]";
    }
    function clearSearchVA() {
        window.location = "[[@{/web/list-va/}]]";
    }
    function clearSearchBunga() {
        window.location = "[[@{/web/bungava/list}]]";
    }
</script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui-1.9.2.custom.min.js}" ></script>
<script th:src="@{/js/moment/moment-2.17.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-datepicker.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.scrollTo.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/jquery-knob/js/jquery.knob.js}"></script>
</body>
</html>
