<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <title>Registration</title>
</head>
<body>

<br>

<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <a class="company__logo">
                <img th:src="@{img/Logobniwhite.png}" height="60" width="200" />
            </a>
            <a></a>
            <a></a>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Log In</h2>
                </div>
                <div class="row">
                    <form th:action="@{/login}" method="post" class="form-group">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username or password.</div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">You have been logged out.</div>
                        </div>
                        <div class="row">
                            <input type="text" name="username" id="username" class="form__input" placeholder="Email or Username">
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                        </div>
                        <div class="row">
                            <input type="checkbox" name="remember_me" id="remember_me" class="">
                            <label for="remember_me">Remember Me!</label>
                        </div>
                        <div class="row">
                            <input type="submit" value="Submit" class="btn-login">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Don't have an account? <a th:href="@{/registration}">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->

<!--    <div class="row">-->
<!--        <div class="col-md-6 col-md-offset-3">-->
<!--            <h1>Login page</h1>-->
<!--            <form th:action="@{/login}" method="post">-->
<!--                <div th:if="${param.error}">-->
<!--                    <div class="alert alert-danger">Invalid username or-->
<!--                        password.</div>-->
<!--                </div>-->
<!--                <div th:if="${param.logout}">-->
<!--                    <div class="alert alert-info">You have been logged out.</div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="username">Username</label>: <input type="text"-->
<!--                                                                   id="username" name="username" class="form-control"-->
<!--                                                                   autofocus="autofocus" placeholder="Username" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="password">Password</label>: <input type="password"-->
<!--                                                                   id="password" name="password" class="form-control"-->
<!--                                                                   placeholder="Password" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-6 col-sm-offset-3">-->
<!--                            <input type="submit" name="login-submit" id="login-submit"-->
<!--                                   class="form-control btn btn-primary" value="Log In" />-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--						<span>New user? <a href="/" th:href="@{/registration}">Register-->
<!--								here</a></span>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>